
.md-icon {
    -webkit-font-smoothing: antialiased;
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
}



.status.overdue:hover, .status.upcoming:hover {
    border-color: #32B67A;
}

.status{
    border: 2px solid rgba(62, 62, 62, 0.06);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    margin: 0 20px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 32px;
}

.excelButton{
    margin-top: 2%;
    margin-left: 85%;
    background-image: url('excel-icon.png') ;
}

.checkButton{
position: absolute;
width: 200px;
height: 200px;
background: #FFFFFF;
border: 2px solid #C4C4C4;
box-sizing: border-box;
}

.filterField{
    margin-top: 1%;
    margin-left: 1%;
}